
.toggle-button {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 5px;
  position: relative;
}
.toggle-button input {
  width: 0;
  height: 0;
}
.toggle-btn {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.6s;
  position: absolute;
  //background-color: #ccc;
  background-color: hsl(213, 96%, 18%);
  border-radius: 32px;
 
}
.toggle-btn:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.6s;
  border-radius: 32px;
  
}
.toggle-button input:checked + .toggle-btn {
  background-color: hsl(213, 96%, 18%);
}
.toggle-button input:checked + .toggle-btn:before {
  transform: translateX(28px);
 
}
.toggle-btn.circle {
  border-radius: 33px;
}
.toggle-btn.circle:before {
  border-radius: 51%;

}

.left{
padding-right: 20px;
}
.right{
  padding-left: 20px;
}
.togleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}