.step1-container {
  height: 370px;
}
.step1-header {
  text-align: left;
  font-size: 32px;
  padding-left: 20px;
  font-weight: 700;
  color: #002855;
  font-family: UbuntuBold;
}
.step1-subheader {
  padding-left: 20px;
  text-align: left;
  font-weight: 100;
  font-family: UbuntuRegular;
  padding-top: 8px;
  color: #aaabaf;
}

@media screen and (max-width: 768px) {
  .step1-container {
    //border-radius: 12px;
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    border-radius: 15px;
    margin-top: -115px;
    height: 400px;
  }

  .step1-header {
    text-align: left;
    padding-top: 20px;
    font-size: 1.4rem;
    padding-left: 20px;
    font-weight: bolder;
  }
  .header-container {
    margin-top: 20px;
  }
  .text-field-wrapper {
    margin-top: -20px;
  }
  .step1-subheader {
    padding-left: 20px;
    text-align: left;
    width: 80%;
    line-height: 25px;
  }
}
