.circle {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: var(--white-color);
  border: 1px solid white;
}

.steperWrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 50px;
  padding-right: 20px;
  color: var(--secondary-text-color);
  font-size: 15px;
}
.stepBlock {
  display: flex;
  gap: 30px;

  &.selected .circle {
    color: black;
    background-color: hsl(206, 94%, 87%);
    border: none;
  }
}

.step {
  display: flex;
}
.StepsLabelWrapper {
  display: flex;
  flex-direction: column;
}

.stepNumberText {
  font-family: UbuntuRegular;
  color: var(--secondary-text-color);
  font-size: 12px;
}

.stepInfo {
  font-family: UbuntuMedium;
  color: var(--white-color);
  font-size: 13px;
  font-weight: 900;
  padding-top: 5px;
  letter-spacing: 1px;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 768px) {
  .steperWrapper {
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-bottom: 40px;
  }

  .stepBlock {
    display: flex;
    gap: 20px;
  }

  .stepInfo {
    display: none;
  }
  .stepNumberText {
    display: none;
  }

  .circle {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }
}
