.button-container {
  min-width: 50px;
  width: auto;
  padding:  10px;
  font-size: 16px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: headerFont;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  margin-right: 60px;
  cursor: pointer;


  &:hover {
    background-color: rgb(61, 61, 246);
  }

  &.secondery {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
  &.disabled{
    background-color: lightgrey;
  }

}
