label {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
input {
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px;
  border-color: #dbdadf;
  border: 1px solid #ccc;
  outline: none;
  width: 85%;
  font-weight: 700;
 
}
.text-field {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    color: #333;
    margin-bottom: 4px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
 
  .error-message-above {
    color: red;
    font-size: 12px;
    margin-left: 8px;
    text-align: right;
    width: 83%;
  }
  .input-border-error{
    border: 1px solid red;
    
  }