label {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
input {
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px;
  border-color: #dbdadf;
  border: 1px solid #ccc;
  outline: none;
  width: 85%;
  font-weight: 700;
  color:#002855;
  font-family: UbuntuRegular;
}
input[type=text]:focus {
  border: 1px solid #002855;;
}
.text-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message-above {
  color: red;
  font-size: 12px;
  margin-left: 8px;
  text-align: right;
}
.input-border-error {
  border: 1px solid red;
}

.label {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: UbuntuRegular;
  font-size: 14px;
  font-weight: 200;
}
.input-small {
  width: 30%;
}
.input-medium {
  width: 50%;
}
.input-large {
  width: 90%;
}

@media screen and (max-width: 768px) {
  input {
    padding: 12px;
    margin-top: 1px;
  }
  .label {
    font-size: 0.8rem;
  }
}
