* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cardWrapper {
  border: 1.6px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  width: 30%;
  min-height: 140px;
  padding-bottom: 17px;
  &.cardWrapper:hover {
    cursor: pointer;
    border: 1.6px solid hsl(243, 100%, 62%);
  }
}

.image {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  height: 60px;
  width: 60px;
}

.CardTitle {
  font-weight: 900;
  margin-left: 15px;
  margin-top: 40px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.subtitle {
  color: rgb(185, 181, 181);

  margin-left: 15px;
  font-size: 15px;
  font-weight: 900;
}
.cardContaier {
  display: flex;
  gap: 20px;
}

.yearlyOffer {
  margin-left: 15px;
  color: hsl(213, 96%, 18%);
  font-size: 13px;
  font-weight: 300;
}
.bg--color {
  background-color: hsl(231, 100%, 99%);
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    border: 1.6px solid hsl(229, 24%, 87%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    min-height: 30px;
    margin: auto;
  }

  .cardContaier {
    display: flex;
    flex-direction: column;
    //gap: 10px;
   
   // margin:auto;
  }

  .titleWrapper {
    
    // flex-direction: column;
    // gap: 5px;
 
  
  
  }
  
  .CardTitle {
    font-weight: 900;
    margin-left: 15px;
    margin-top: 20px;
  }

.image {
display: flex;
justify-content: center;
align-items:center;
  height: 60px;
  width: 60px;
}
.subtitle {
 
  font-size: 13px;
  
}
.step2-sub-header{
 
  padding: 20px;

}


.step2-header{
  font-size:1.4rem ;
  padding: 20px;
}
  }

