.step2-container {
  height: 370px;
}

.toggleContainer {

  font-family: UbuntuMedium;
  font-size: 14px;
}
.cardContainer {
  padding-top: 40px;
}
.step2-header {
  font-size: 32px;
  color: #002855;
  font-family: UbuntuBold;
}

.step2-sub-header {
  font-weight: 100;
  font-family: UbuntuRegular;
  padding-top: 8px;
  color: #aaabaf;
}

.monthly-option {
  display: block; /* Initially show the Monthly option */
  color: hsl(213, 96%, 18%);
}

.yearly-option {
  display: block; /* Initially show the Yearly option */
  color: #ccc;
}

/* Style the Yearly option when Monthly is selected */
.monthly-option.on + .yearly-option {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .step2-container {
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    border-radius: 15px;
    margin-top: -120px;
    height: 540px;
    line-height: 12px;
  }

  .step2-header {
    text-align: left;
    padding-top: 20px;
    font-size: 1.4rem;
    padding-left: 20px;
    font-weight: bolder;
  }
  .step2-sub-header {
    padding-left: 20px;
    text-align: left;
    width: 100%;
    line-height: 25px;
    
  }
  
}
