.step2-container {
height: 370px;
//  padding-bottom: 30px;
}

.toggleContainer{
  font-family: UbuntuMedium;
  font-size: 14px;
}
.cardContaier{
  padding-top: 40px;
}
.step2-header {
  font-size: 32px;
  color: #002855;
  font-family: UbuntuBold;
}

.step2-sub-header {
  font-weight: 100;
  font-family: UbuntuRegular;
  padding-top: 8px;
  color: #aaabaf;
}

.monthly-option {
  display: block; /* Initially show the Monthly option */
  color: hsl(213, 96%, 18%);
}

.yearly-option {
  display: block; /* Initially show the Yearly option */
  color: #ccc;
}

/* Style the Yearly option when Monthly is selected */
.monthly-option.on + .yearly-option {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .step2-container {
    font-weight: 900;
    text-align: left;
    padding-top: 20px;
    font-size: 0.9rem;
    margin-top: 0px;
  }
  .step2-header {
    height: 0px;
  }
  .step2-sub-header {
    width: 90%;
  }
}
