* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

h1 {
  color: #002855;
  font-family: headerFont;
}
p {
  padding-top: 8px;
  color: #aaabaf;
  font-family: headerFont;
}

.container {
  width: 100%;
  background-color:hsl(217, 100%, 97%);
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  width: 50%;
  gap: 100px;
  min-width: 400px;
  height: 650px;
  padding-right: 60px;
}
.form-right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 2;
}

.form-header {
  padding-top: 70px;
}

.form-left-side {
  display: flex;
  flex: 1;
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
}
.title {
  font-weight: 900;
}

.form-content-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
  width: 70%;
}

.form-text-fields-container {
  font-family: headerFont;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 16px;
  //  min-height: 400px;
  width: 95%;
}

.button-wrapper {
  padding-top: 90px;
  text-align: right;
  display: flex;
  justify-content: space-between;

  &.button-wrapper :nth-child(2) {
    margin-right: 30px;
  }
}

.bg-img {
  border-radius: 10px;
}

.step1 {
  display: none;
}
.back {
  font-family: headerFont;
  color: #aaabaf;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  height: 0px;
  font-size: 16px;

  &.back:hover {
    color: hsl(213, 96%, 18%);
  }
}

.hide {
  visibility: hidden;
}
.toggleContainer {
  background-color: hsl(231, 100%, 99%);
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 20px;
}
.on {
  color: hsl(213, 96%, 18%);
}
.off {
  color: #ccc;
}

.add-on-container {
  padding-top: 30px;
}
// step3
.add-on-box {
  border: 1px solid hsl(229, 24%, 87%);
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
}

.add-on-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-on-name {
  font-size: 16px;
  font-weight: 800;
}

.add-on-desciption {
  font-size: 14px;
  font-weight: 200;

  color: hsl(231, 11%, 63%);
  padding-top: 5px;
}
.name-and-desciption {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 10px;
}
.add-on-price {
  color: hsl(243, 100%, 62%);
  font-size: 11px;
}

.messageContainer {
  margin-top: 140px;
  text-align: center;
}

.confirmation-message {
  font-family: headerFont;
  padding-top: 20px;
  color: hsl(229, 6%, 65%);
  font-weight: 900;
  font-size: 0.9rem;
  line-height: 20px;
}

.step-4-thanks {
  padding-top: 20px;
  font-size: 2rem;
}

/* When the browser is at least 768px and above */
@media screen and (max-width: 1112px) {
  .container {
    background-color: #ffffff;
  
    
  }
  .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    margin-bottom: 170px;
    text-align: center;
    padding: 0px;
    gap: 0px;
    background-color: hsl(217, 100%, 97%);
  
    
  }
  .form-text-fields-container {
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 95%;
    border-radius: 15px;
    margin-top: -150px;
    padding-bottom: 40px;
  }

  .form-left-side {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/bg-sidebar-mobile.svg");
    border-radius: 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    text-align: center;
  }
  .form-right-side {
    text-align: center;
  }
  .button-wrapper {
    padding-top: 90px;
    text-align: right;
    display: flex;
    justify-content: space-between;

    margin-top: 90px;
  }
  .title {
    font-weight: 900;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 0.9rem;
  }
  
}
