.selected-addons {
  background-color: hsl(231, 100%, 99%);
  padding: 20px;
  display: flex;
  align-content: space-between;
}

.planName {
  color: hsl(213, 96%, 18%);
  padding-bottom: 10px;
}
.price {
  width: 100%;
  text-align: right;
}
.desciption {
  padding-bottom: 10px;
  font-weight: 100;
}

.link {
  font-family: headerFont;
  color: #aaabaf;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  height: 0px;
  font-size: 16px;
  margin-top: 8px;
}
.link-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
}
