.selected-addons {
  background-color: hsl(231, 100%, 99%);
  padding: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.planPrice {
  padding-bottom: 10px;
}
.description {
  padding-bottom: 30px;
  font-weight: 100;
}

.link {
  font-family: headerFont;
  color: #aaabaf;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  height: 0px;
  font-size: 16px;
  margin-top: 8px;
}

.addons-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: hsl(231, 11%, 63%);
  font-family: headerFont;
  font-size: 14px;
}
.addonContent {
  display: flex;
  justify-content: space-between;
}
.item-name {
  padding-top: 40px;
}

.planPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.total-price {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: hsl(243, 100%, 62%);
  font-weight: 900;
  font-size: 1.2rem;
}
.total-text {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .selected-addons {
    border-bottom:none;
    width: 90%;
    margin: auto;
    border-radius: 15px;
  }
  .link-wrapper{
  
    text-align: left;
  padding: 1px;
  }
  .item-name {
    padding-top: 10px;
  }
  .addonContent {
    display: flex;
    justify-content: space-between;
  
  }

  .addons-list {
    // display: flex;
    // flex-direction: column;
    // gap: 40px;
    // color: hsl(231, 11%, 63%);
    // font-family: headerFont;
    // font-size: 14px;
  
    gap: 15px;
  }
  .step4-header{
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 1.4rem;
  }
 
}