.button {
  min-width: 50px;
  width: auto;
  padding: 10px;
  // font-size: 16px;
  background-color: hsl(187, 94%, 52%);
  color: white;
  font-family: headerFont;
  border: none;
  border-radius: 5px;
  margin-right: 60px;
  cursor: pointer;

  .div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
  
  }
  
  // button sizes
  &.button--small {
    height:40px;
    width: 100px;
    font-size: 12px;
   
  }
  &.button--medium {
    height: 40px;
    width: 110px;
    font-size: 14px;

  }
  &.button--large {
    height: 50px;
    width: 160px;
    font-size: 16px;
   
  }

  // button colorScheme
  &.button--primary {
    background-color: hsl(213, 96%, 18%);

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.button--secondery {
    background-color: rgb(8, 30, 228);
    &:hover {
      background-color: rgb(95, 110, 244);
    }
  }

  &.button--whatsApp {
    background-color: rgb(48, 158, 48);
    &:hover {
      background-color: rgb(77, 248, 77);
    }
  }

  &.button--disabled:disabled {
    background-color: rgb(182, 179, 179);
    cursor: not-allowed;
  }
}

