.label {
  font-family: UbuntuRegular;
  font-size: 14px;
  font-weight: 200;
}

input[type="email"]:focus {
  border: 1px solid #0451a9;
}

.input-small {
  width: 30%;
}
.input-medium {
  width: 50%;
}
.input-large {
  width: 90%;
}
