.svg {
  
  &.arrow-icon-sm {
     width: 22px;
      height: 22px;
    &.icon-direction-right {
      position: relative;
      right: -12px;
    }
    &.icon-direction-left {
      transform: rotate(180deg);
      position: relative;
      left: -12px;
    }
  }
  
  &.arrow-icon-md {
    width: 25px;
    height: 25px;
    &.icon-direction-right {
      position: relative;
      right: -15px;
    }
    &.icon-direction-left {
      transform: rotate(180deg);
      position: relative;
      left: -15px;
    }
  }
 
  &.arrow-icon-lg {
     width: 30px;
      height: 30px;
    &.icon-direction-right {
      position: relative;
      right: -30px;
      
    }
    &.icon-direction-left {
      transform: rotate(180deg);
      position: relative;
      left: -30px;
    }
  }
}
