:root {
    
    --sidebar-mobile-bg: url("../src/assets/images/bg-sidebar-mobile.svg");
    --sidebar-desktop-bg: url("../src/assets/images/bg-sidebar-desktop.svg");
  
    --primary-text-color: #002855;
    --secondary-text-color: #aaabaf;
    --step1-container-border-radius: 12px;
    --light-gray-color:#ccc;
    --light-blue:hsl(231, 100%, 99%);
    --white-color: #ffffff;
    --container-bg: hsl(217, 100%, 97%);
    
  }